<div class="header">
  <div class="title">Upload Photo</div>
  <input type="file" accept="image/*" (change)="handleInputChange($event)"/>
  <div *ngIf="uploadError" class="error">{{uploadError}}</div>
</div>

<div class="loader" *ngIf="loading">Loading...</div>

<div class="results" *ngIf="uploadResponse">

  <div class="image">
    <img [src]="uploadResponse.image">
  </div>

  <div class="product-list">
    <div class="title">Found products</div>
    <div class="product-list-container"
         *ngFor="let product of uploadResponse.products">

      <div class="product-image">
        <img [src]="product.cut_image">
      </div>

      <div class="scroll-area">
        <div class="found-products">
          <a class="found-product"
             *ngFor="let found_product of product.found_products"
             [href]="found_product.url"
             [title]="found_product.url"
             target="_blank">

            <img [src]="found_product.product_image">
          </a>
        </div>
      </div>

    </div>

  </div>

</div>
