<div class="header">
  <div class="title">Upload Photo</div>
  <input type="file" accept="image/*" (change)="handleInputChange($event)"/>
  <div *ngIf="uploadError" class="error">{{uploadError}}</div>
</div>

<div class="loader" *ngIf="loading">Loading...</div>

<div class="results" *ngIf="uploadResponse">

  <div class="image">
    <img [src]="uploadResponse.image">
  </div>

  <div class="product-list">
    <div class="title">List of products</div>
    <div class="scroll-area">
      <a class="product" [href]="product.url" target="_blank"
           *ngFor="let product of uploadResponse.products">
        <div class="product-image">
          <img [src]="product.product_image">
        </div>
        <div>{{product.url | slice:27}}</div>
      </a>
    </div>

  </div>

</div>
